/*
 * @name         Default Edit
 * @description  The default Discord theme but Dark Blue
 * @author       eMSi21
 * @version      1.0.5
 * @source       https://github.com/Maiu15
*/

.bg-h5JY_x {
    background-color: #0D1C2D !important;
}
.existingSlotNotice-1KvWSb, .upsellFooter-6EgwMe {
    background-color: #294769;
}
.theme-dark .form-2fGMdU:before {
	background: none !important;
}
.members-1998pB, .members-1998pB>div {
    background-color: #11243A;
}
.optionContainer-15srkc {
    background-color: #1F3752;
}
.container-2Uhd6d {
    background-color: #08111d;
}
.guildIcon-3raYf3 {
    background-color: #172D46;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #11243a;
}
.card-1yV8cG {
    background-color: #142B45;
}
.styleFlexible-wGDiIL {
    background-color: #08111d;
}
.button-F9qN4n {
    background-color: #0D1C2E;
}
.button-F9qN4n:hover {
    background-color: #101F34;
}
.contentWrapper-SvZHNd {
    background-color: #102239;
}
.theme-dark .footer-2gL1pp {
    background-color: #203752;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.theme-light .footer-2gL1pp {
    background-color: #203752;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.theme-dark .footer-1FPmkC {
    background-color: #203752;
}
.sidebar-2K8pFh {
    background: #11243a;
}
.wrapper-2Gsate {
    background-color: #0C1C30;
}
.navButtonActive-1MkytQ {
    background-color: #142841;
}
.wrapper-1-Fsb8 {
    background-color: #102239;
}
.styleFixed-sX-yHV {
    background: #08111d;
}
.akaBadge-1M-1Gw {
    background-color: #1B3350;
}
.value-IR9osW {
    background: #2B4B70;
}
.categoryWrapper-UZ5YNj {
    background-color: #0b1727;
}
.guildIcon-3h-1IH {
    background-color: #08121f;
}
.diversitySelectorPopout-3FiGaM {
    background-color: #021732;
    border: none;
}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background-color: #10243F;
}
.categoryItemDefaultCategorySelected-_HCKoz, .categoryItemDefaultCategorySelected-_HCKoz:hover {
    background-color: #10243F;
}
.wrapper-2N7X54 {
    background-color: #08121F;
}
.inspector-sdLnLS {
    background-color: #102239;
}
.contentWrapper-2txmjs {
    background-color: #0B1727;
}
.navButtonActive-3RPAJy {
    background-color: #13253C;
}
.theme-dark .iconWrapper-3LVgIo {
    background: #30537C;
}
.icon-TYbVk4.disabled-24YXy-, .icon-TYbVk4.disabled-24YXy-:hover {
    color: #fff;
}
.icon-TYbVk4 {
    color: #fff;
}
.subscription-3aLGnG {
    background-color: #294668;
}
.colorStandard-2KCXvj {
    color: #fff;
}
.ctaSection-izWwhs {
    background: #253F5E;
}
.usagePill-_nSrnP {
    background-color: #294668;
}
.formSection-1NFAGI {
    background: #223C5B;
}
.channelsWrapper-2HhUER, .rolesWrapper-2yOx9S {
    background-color: #264264;
}
.roleName-1JcOmP {
    color: #fff;
}
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background-color: #1C3755;
}
.input-cIJ7To {
    border: none;
    background-color: #305075;
}
.theme-dark .tierPill-1yRO48 {
    background-color: #305075;
}
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
    background-color: #1F4066;
}
.messageContainer-gbhlwo {
    background-color: #122840;
}
.channelHeader-3Gd2xq {
    background-color: transparent;	
    border-top: 1px solid #0C1D30;
}
.searchResult-3pzFAB.expanded-v2Szsz {
    background-color: #0C1A2B;
    border: none;
}
.hasMoreButton-1MELpI {
    background-color: #1f4066;
    border: none;
}
.tertiary-aMXF0g {
    background-color: #1f4066;
}
.tertiary-aMXF0g:hover {
    background-color: #163252;
}
.secondary-dIudih {
    background-color: #1F4066;
}
.secondary-dIudih:hover {
    background-color: #163252;
}
.button-1I8KM5 {
    background-color: #0A1729;
}
.button-1I8KM5:hover {
    background-color: #0B192E !important;
}
.theme-dark .moreSubscribers-1cuWDE {
    background-color: #11243F;
}
.theme-dark .background-3xPPFc {
    color: #11243a;
}
.theme-dark .tierInProgress-3mBoXq {
    background-color: #11243a;
}
.theme-dark .button-2CgfFz {
    background-color: #1c3249;
    box-shadow: none;
}
.theme-dark .tile-2OwFgW {
    background-color: #203F5F;
}
.theme-dark .guildIconImage-3qTk45 {
    background-color: #203B59;
}
.theme-dark .tile-2OwFgW:hover {
    background-color: #1E3C5C !important;
}
.theme-dark .button-2CgfFz:hover {
    background-color: #182C42 !important;
}
.preview-2nSL_2 {
    background-color: #0f2135;
}
.tierMarkerInProgress-24LMzJ tierMarker-5HkGJ_ tierMarkerSelectable-3t7r2q {
    background: #172F4A !important;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: #11243a;
}
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    border: none;
}
.form-2fGMdU:before {
    background: none;
}
.container-1gR2ZK {
    background-color: #091320;
}
.guildSubscriptionSlots-JPXXvN {
    background-color: #11243a;
}
.theme-dark .gemIndicatorContainer-2jdECl {
    background-color: transparent;
}
.premiumSubscriptionAccountCredit-25i0tQ {
    background-color: #11243a;
}
.content-1o0f9g {
    color: #fff;
    background: #1B3655;
}
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode .mentioned-xhSam7:hover {
    background: none;
}
.mentioned-xhSam7:before {
    background-color: #406A8F;
}
.mentioned-xhSam7 {
    background-color: #172D46;
}

.mentioned-xhSam7:hover {
   background-color: #13273C !important;
}
.channelTextAreaDisabled-8rmlrp .scrollableContainer-2NUZem {
    opacity: .9;
}
.theme-dark .container-1D34oG {
    background-color: #0f2135;
}
.wrapper-2aW0bm {
    background-color: #091320;
}
.peopleList-3c4jOR {
	background-color: #0f2135;
}
.actionButton-uPB8Fs {
	background-color: #182F4B;
}
.actionButton-uPB8Fs.highlight-Lf97TE {
	background-color: #162D48;
}
.nowPlayingColumn-2sl4cE {
	background: #0D1E32;
}
.tag-2gHSR7 {
	background-color: #122439;
}
.scroller-2XE8rp {
	background-color: #0f2135;
}
.wrapper-3D2qGf {
    background-color: #0F2238;
}
.wrapper-3D2qGf:hover {
    background-color: #0E2035 !important;
}
.theme-dark .inset-3sAvek {
    background-color: #142A44;
}
.theme-dark .root-1gCeng {
	background-color: #243d5a;
}
.theme-dark .card-3DjzTQ, .theme-dark .cardPlaceholder-1zrbbe {
	background: #0d1c2d;
}
.theme-dark .card-3DjzTQ:hover, .theme-dark .cardPlaceholder-1zrbbe:hover {
	background: #132941;
}
.theme-dark .pageWrapper-1PgVDX {
	background-color: #0f2135;
}
.outer-1AjyKL {
    background-color: #11273F;
}
.emptyCard-1RJw8n {
    background: #11273F;
}
.isUnread-3Ef-o9 .content-1o0f9g {
    padding: 4px 5px;
    background: #1B3655;
    color: #fff;
}
.attachWrapper-2TRKBi {
    border: none;
}
.scrollableContainer-2NUZem {
	background-color: #1c3149;
}
.scrollableContainer-38zsVD {
	background-color: #1c3149;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
	background-color: #1c3149;
}
.attachWrapper-1_D-pj {
	border-right: 1px solid #27405C;
}
.theme-dark .sidebar-1-SQro {
    	background: #243d5a;
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
	border-color: #3669A0;
}
.authBox-hW6HRx {
	background: #203A57;
}
.theme-dark .actionButtons-1sUUug {
	background-color: #0f2135 !important;
	box-shadow: none !important;
}
.theme-dark .container-1If-HZ, .theme-dark .reactors-Blmlhw {
    	background-color: #203853;
}
.theme-dark .item-3T2z1R {
	border: none;
}
.item-3T2z1R {
	background: #11243a;
}
.detailsBlock-FoDTGA {
	background-color: #1c3249;
}
.barFill-23-gu- {
	background: #305780;
}
.theme-dark .footer-3mqk7D {
    	background-color: #243D5A;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.theme-dark .uploadModal-2ifh8j {
	background-color: #314B6A;
}
.cardPrimaryOutline-29Ujqw {
	border-color: #11243a;
}
.embedFull-2tM8-- {
	background: #142940;
}
.emojiPicker-3m1S-j .categories-1feg4n {
	background-color: #172A40;
}
.theme-dark .everyonePopout-nEbJY3 {
	background-color: #162940;
}
.infoBar-U6oBFk {
	background-color: #1c3149;
}
.theme-dark .footer-2aTx0s {
	background-color: #223955;
}
.video-1FfuMD {
	background-color: #142940;
}
.detailsBlock-FoDTGA {
	background-color: #0E2034;
}
.header-39GIC8 {
	background-color: #142840;
}
.expandedFolderBackground-2sPsd- {
	background-color: #11243a;
}
.folder-21wGz3 {
	background-color: #162B44 !important;
}
.contentRegion-3nDuYy {
	background: #0D1C2F;
}
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN {
	background-color: #11243a;
}
.theme-dark .headerExpanded-CUEwZ5 {
	background-color: #11243a;
}
.theme-dark .changeDetails-bk98pu {
	background-color: #11243a;
}
.jumpToPresentBar-9P20AM {
	background-color: #2d5279;
}
.theme-dark .tierMarkerBackground-3q29am {
	background-color: transparent;
}
.descriptionBox-1EKQKL {
    background-color: #11243a;
}
.theme-dark .barBackground-2EEiLw {
    background-color: #11243a;
}
.theme-dark .tierBody-16Chc9 {
    background-color: #11243a;
    color: #dcddde;
}
.theme-dark .message-2qRu38 {
	background-color: #13273E;
	box-shadow: none !important;
}
.theme-dark .tierHeaderLocked-1s2JJz {
    background-color: #11243a;
    color: #72767d;
}
.theme-dark .bar-2Qqk5Z {
	background: #11243a;
}
.content-1EtbQh {
	background-color: #243d5a;
}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
	background-color: #11243a;
}
.outer-2IVh5n {
	background-color: #0d1c2d;
}
.theme-dark .recentlyPlayedContainer-2F3MqS {
	background-color: #0d1c2d;
}
.theme-dark .wrapper-9ppXpy {
	box-shadow: none;
}
.emojiPicker-3m1S-j {
	background-color: #11243a;
	border: none;
}
.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
	background-color: #11243a;
}
.theme-dark .contentWrapper-3WC1ID {
	background-color: #11243a;
}
.activityFeed-1C0EmJ {
	background-color: #0B1828;
}
.wordmark-2iDDfm svg {
	display: none;
}
.theme-dark .row-rrHHJU.selected-1pIgLL {
	background: #0d1c2d;
}
.theme-dark .attachment-33OFj0 {
	border: none;
	background-color: #142940;
}
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteHeaderBackground-30T70q {
	background-color: #0d1c2d;
}
.guildsError-b7zR5H {
	background-color: #132841;
}
.container-PNkimc {
	background-color: #11243a;
}
.body-3ND3kc {
	background-color: #11243a;
}
.pill-1dHPfk {
	background-color: #305780;
}
.quickswitcher-3JagVE {
	background-color: #11243a !important;
}
.scroller-zPkAnE {
	background-color: #11243a !important;
}
.sidebarRegionScroller-3MXcoP {
	background-color: #11243a !important;
}
.contentRegionScroller-26nc1e {
	background-color: #0D1C2D !important;
}
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g {
	background-color: #11243a !important;
	border: none;
}
.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
	background-color: #0D1C2D !important;
}
.theme-dark .codeRedemptionRedirect-1wVR4b {
	background-color: #11243a !important;
	border: none;
}
.theme-dark .modal-yWgWj- {
	background-color: #243d5a;
}
.theme-dark .divider-3WKGWk {
	border: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
	background-color: #11243a !important;
}
.theme-dark .header-ykumBX {
	background-color: #11243a !important;
}
.theme-dark .messagesPopout-24nkyi {
	background-color: #11243a !important;
}
.theme-dark .footer-1kmXd4 {
	background-color: #11243a !important;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
	background-color: #0f2135 !important;
	border: none;
}
.scroller-305q3I {
	background-color: #11243a !important;
}
.users-i_3-kL {
	background-color: #305780 !important;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
	background-color: #11243a !important;
}
.card-3AyPWq:hover {
	background-color: #11243a !important;
}
.card-3AyPWq {
	background-color: #11243a !important;
}
.theme-dark .card-FDVird:before {
	background-color: #11243a !important;
	border: none;
}
.theme-dark .bda-slist li {
	background-color: #11243a !important;
	border: none;
}
.theme-dark .tierBody-x9kBBp {
	background-color: #11243a !important;
	border: none;
}
.theme-dark .popoutList-T9CKZQ {
	background-color: #11243a !important;
}
.newMessagesBar-mujexs {
	background-color: #305780 !important;
}
.unread-1xRYoj {
	background-color: #305780 !important;
}
.theme-dark .wrapper-35wsBm {
	background-color: #142940 !important;
	border: none;
}
.theme-dark .tierHeaderLocked-1a2opw {
	background-color: #102237 !important;
	border: none;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
	background-color: #305780 !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: #305780 !important;
}
.avatarUploaderInner-3UNxY3 {
	background-color: #305780 !important;
}
.theme-dark .questionMark-CWEQZn {
	background-color: #305780 !important;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
	background-color: #11243a !important;
}
.titleBar-AC4pGV:not(.typeMacOS-3EmCyP)::after {
	content: "DARK BLUE by maiu";
	position: absolute;
	top: 5px;
	left: 7px;
	color: rgb(170, 170, 170);
	display: block;
	height: 16px;
	width: fit-content;
	pointer-events: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.theme-dark .embedInner-1-fpTo {
	background-color: #1E3550 !important;
	border: none;
}
.markup-2BOw-j code {
	background-color: #081729 !important;
}
.markup-2BOw-j pre {
	border-color: #0C1B2B;
}
.blockquoteDivider-2hH8H6 {
	background-color: #081729 !important;
}
.theme-dark .isMentioned-N-h9aa {
	background-color: #1E3756 !important;
}
.isMentionedCozy-3isp7y:after {
	border-left: 4px solid #081729 !important;
	width: 0px;
}
.theme-dark .theme-dark .or-3THJsp, .theme-dark .theme-light .or-3THJsp {
	background: none;
	border: none;
}
.theme-dark .header-3ZP1MY, .theme-light .header-3ZP1MY {
	color: #fff !important;
}
.theme-dark .action-1lSjCi, .theme-light .action-1lSjCi {
	background-color: #1C334E !important;
}
.theme-dark .actionBody-1qj65C, .theme-light .actionBody-1qj65C {
	color: #fff !important;
}
.theme-light .input-1mgnkM {
	color: #fff !important;
}
.theme-light .footer-3rDWdC {
	background-color: #1C334E !important;
	box-shadow: none;
}
.botTagRegular-2HEhHi {
	background-color: #305780 !important;
}
.theme-dark .wrapper-3WhCwL {
	background-color: #1E3B5B !important;
	color: #fff;
}
.menu-Sp6bN1 {
	background-color: #091320 !important;
}
.contextMenu-HLZMGh {
	background-color: #091320 !important;
}
.container-3cGP6G {
	background-color: #091320 !important;
}
.scroller-2TZvBN {
	background-color: #0D1C2D !important;
}
.friendsTable-133bsv .friendsTableBody-1ZhKif {
	background-color: #0F2135 !important;
}
.friendsTable-133bsv .friendsTableHeader-32yE7d {
	background-color: #0F2135 !important;
	border: none;
	margin-top: -10px;
}
.friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ {
	border: none;
}
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
	border: none;
}
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
	background-color: #0F2135 !important;
	margin-top: -10px;
}
.scroller-9moviB {
	background-color: #0D1C2D !important;
}
.theme-dark .tier1Banner-1B_WXY {
	background-color: #11243a !important;
}
.theme-dark .placeholderWrapper-3FaLtZ {
	background: #0D1C2D !important;
}
.scroller-1IIF0A {
	background: #0D1C2D !important;
}
.theme-dark .searchHeader-1l-wpR {
	background: #11243a !important;
}
.theme-dark .wrapper-3UweLa {
	background: #0D1C2D !important;
}
.childWrapper-anI2G9 {
	background-color: #132841 !important;
}
.circleIconButton-jET_ig {
	background-color: #132841 !important;
}
.messages-3amgkR {
	background-color: #0F2135 !important;
}
.appMount-3lHmkl, body {
	background-color: #0F2135 !important;
}
.theme-dark .perksModal-fSYqOq {
	background-color: #0F2135 !important;
}
.theme-dark .container-2x5lvQ .header-2C89wJ {
	background-color: #0F2135 !important;
}
.theme-dark .container-2x5lvQ section {
	background-color: #0F2135 !important;
}
.theme-dark .footer-3rDWdC {
	background-color: #203853;
	box-shadow: none;
}
.theme-dark .ctaBar-2UsjF2 {
	background-color: #11243a !important;
}
.theme-dark .perk-2WeBWW {
	background-color: #11243a !important;
}
.scroller-1JbKMe {
	background-color: #11243A !important;
}
.scroller-5bBood {
	background-color: #11243A !important;
}
.searchBar-6Kv8R2 {
	background-color: #152a42 !important;
}
.members-1998pB {
	background-color: #11243A !important;
}
.container-1r6BKw.themed-ANHk51 {
	background-color: #142840 !important;
}
.chat-3bRxxu {
	background-color: #0F2135 !important;
}
.children-19S4PO:after {
	background: transparent !important;
}
.inner-zqa7da {
	background-color: #1C3149 !important;
}
.input-2VB9rf {
	background-color: #1C3149 !important;
}
.container-cMG81i {
	background-color: #1C3149 !important;
}
.inner-3ErfOT {
	background-color: #1C3149 !important;
}
.theme-dark .quickMessage-1yeL4E {
	background-color: #1C3149 !important;
	border: none;
}
.note-3kmerW textarea:focus {
	background-color: #0f2135 !important;
}
.topSectionNormal-2-vo2m {
	background-color: #0f2135 !important;
}
.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
	border: none;
}
.theme-dark .searchBox-3Y2Vi7 {
	background-color: #1C3149 !important;
}
.css-1wqqa50-container {
	background-color: #1C3149 !important;
}
.searchBar-3dMhjb {
	background-color: #1C3149 !important;
}
.attachButtonDivider-3Glu60 {
	background-color: #1A2E44 !important;
}
.panels-j1Uci_ {
	background-color: #152a42 !important;
}
.theme-dark .headerNormal-T_seeN {
	background-color: #0f2135 !important;
}
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6 {
	background-color: #11243a !important;
}
#app-mount .container-3ayLPN {
	background: #091320 !important;
}
#app-mount .option-96V44q:after {
	background: #091320 !important;
}
#app-mount .option-96V44q.selected-rZcOL-, #app-mount .searchAnswer-3Dz2-q, #app-mount .searchFilter-2ESiM3 {
	background-color: #091320 !important;
}
#app-mount .searchResultsWrap-2DKFzt {
	background: #091320 !important;
	background-attachment: fixed;
}
#app-mount .focused-2bY0OD, #app-mount .focused-1Yu0L3 {
	background: #091320 !important;
	background-attachment: fixed;
}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {
	background: transparent !important;
}
.theme-dark .searchResult-3pzFAB:before {
	background: transparent !important;
}
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .header-2bNvm4 {
    background-color: #162E4A;
}
.container-RHl2Ju {
    background-color: #162E4A;
}
.container-UC8Ug1 {
	background-color: #162E4A;
}
.jumpButton-Ia2hRJ {
	background-color: #2b5076;
}
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: #183352;
}
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover {
    background-color: #142C48;
}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA {
    border: none;
    background-color: #0C1A2B;
    box-shadow: 0 5px 36px 0px rgba(0, 0, 0, .5);
}
.theme-dark .searchResult-3pzFAB:after {
	background: transparent !important;
}
#app-mount .autocomplete-1vrmpx {
	background-color: transparent;
	overflow: hidden;
}
#app-mount .autocomplete-1vrmpx:after,
#app-mount .autocomplete-1vrmpx:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	pointer-events: none;
	z-index: -1;
}
#app-mount .autocomplete-1vrmpx:after {
	background-color: #16263A;
}
#app-mount .autocomplete-1vrmpx:before {
	background: #16263A;
	background-attachment: fixed;
}
.theme-brand .autocomplete-1vrmpx {
	background: #16263A;
}
.theme-brand .autocomplete-1vrmpx:after,
.theme-brand .autocomplete-1vrmpx:before {
	display: none;
}
#app-mount .emptyHintCard-2mUdMe {
	background-color: #16263A;
}
#app-mount .divider-23swzi {
	background-color: #16263A;
}
#app-mount .selectorSelected-1_M1WV {
	background-color: #14202F;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: #091320 !important;
	border: none !important;
}
.scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: #1C3249 !important;
	border: none;
}
.scroller-2FKFPG::-webkit-scrollbar {
	width: 8px !important;
}
